/* Mobile downbar text */
.mzj-downbar a span{
  font-size: 8px;
  line-height: 1.1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

/* شاشات أصغر */
@media (max-width: 380px){
  .mzj-downbar a span{
    font-size: 8px;
  }
}
